:root {
    --primary: #ffed9e;
    --secondary: #2f2300;
    --accent: #ffa600;
    --card-radius: 10px;
    --card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --card-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
    --title-bg: rgba(47, 35, 0, 0.9);

}

@font-face {
    font-family: 'font';
    src: url("/assets/fonts/font.ttf");
}

body {
    background-color: var(--primary);
    font-family: 'font';
    background-image: url("https://img.freepik.com/free-vector/abstract-orange-background_698452-2007.jpg?semt=ais_hybrid");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

#games {
    position: absolute;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
    grid-auto-rows: 100px;
    grid-gap: 20px;
    align-items: start;
    justify-items: center;
}

.game-card {
    background-color: var(--secondary);
    color: var(--primary);
    border-radius: var(--card-radius);
    box-shadow: var(--card-shadow);
    width: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

.game-card:hover {
    transform: scale(1.05);
}

.game-card.s {
    grid-row: span 1;
    grid-column: span 1;
}

.game-card.m {
    grid-row: span 2;
    grid-column: span 2;
    width: 220px;
    height: 220px;
}

.game-card.l {
    grid-row: span 3;
    grid-column: span 3;
    width: 340px;
    height: 340px;
}

.title-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 31%;
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.658));
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.game-card:hover .title-container {
    opacity: 1;
}

.game-title {
    color: rgb(255, 255, 255);
    position: relative;
    width: 100%;
    font-size: 0.8em;
    line-height: 1.2;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    bottom: -10px;
    transition: all 0.35s ease;
}

.game-card:hover .game-title {
    bottom: 0px;
}

.game-card.s .game-title {
    font-size: 0.8rem;
}

.game-card.m .game-title {
    font-size: 1.5rem;
}

.game-card.l .game-title {
    font-size: 2.2rem;
}

.game-image {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--card-radius);
}